:root {
  /* COLORS */
  --themeColor1: #36D1DC; /* Theme's color 1 */
  --themeColor2: #5B86E5; /* Theme's color 2 */

  /* CUSTOM FONT */
  --customFont: 'Open sans', sans-serif; /* Custom font, change the name in 'font name here', you must import the font first */

  /* HOME BUTTON */
  --homeImage: url('https://i.imgur.com/gvFYrTh.png');/* Home button image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --homeImageSize: cover;/* To cover the button, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */

  /* BACKGROUND */
  --backgroundColor: #0d0d0d; /* Background color */
  --backgroundImage: url('https://sun9-74.userapi.com/s/v1/if2/T9MvRynGMKNM2MsHC3tc745Sujad-FDGEBb47rF7mcHdjLXo6xCL4Lz-KPVICGLEC9aaIiPHjr6LiFAbLsBTcbOF.jpg?quality=95&as=32x13,48x20,72x30,108x46,160x67,240x101,360x152,480x202,540x228,640x270,720x304,1080x456,1280x540,1440x607,2560x1080&from=bu&u=KUsvvMXTyibnHzLe1wkDI4wJlbP4ZcqSzKgQqcNRLMQ&cs=2560x0'); /* Backround image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --backgroundPosition: center; /* Image position | center, left, right, bottom, top */
  --backgroundSize: cover; /* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
  --backgroundRepeat: no-repeat; /* if you want the image to repeat | Google "css background repeat" */
  --backgroundBlur: 10px; /* Set to 0 to remove blur | Set to 10px for average blur */
  --backgroundOpacity: .65; /* 0 is transparent */

  /* CODE BLOCKS */
  --backgroundCode: rgba(0,0,0,.5);
  --backgroundName: rgba(0,0,0,.5);
}
